body {
	width: 100%;
    max-width: 100%;
}

img {
	width: 100%;
    max-width: 1232px;
}

h1, h2, h3 {
	margin: 2%;
}

p {
    margin: 2%;
    max-width: 1232px;
}

footer {
    margin: 2%;
}

figure {
    margin-left: 2%;
}

figcaption {
    margin-left: 1%;
}

ul {
    padding-left: 5%;
}
