body {
	width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

img {
	width: 100%;
    max-width: 100%;
}

h1, h2, h3 {
	margin: 2%;
}

#mainTitle {
    text-align: center;
}

p {
    margin: 2%;
    max-width: 1232px;
}

footer {
    text-align: center;
    padding: 2em;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

figcaption {
    font-style: italic;
}

.sizes-list {
    padding-left: 5%;
}
